<div id="modal" class="hide"> <!-- quando a classe "hide" desaparecer, a div irá aparecer na tela. Por enquanto a classe "hide" está configurada com display: none; no CSS, mas por javascrip, quando apertarmos o botão correto, a classe será removida e a div irá aparecer na tela.-->
    <div class="content">
        <div class="header">
            <h1>Pontos de Coleta</h1>
            <a href="#">Fechar</a>
        </div>
        <form action="/search-results">
            <label for="search">Cidade</label>
            <div class="search field">
                <input type="text" name="search" placeholder="Pesquise por cidade">
                <button>
                    <img src="/extras-aula-1/icones/search.svg" alt="Buscar">
                </button>
            </div>
        </form>
    </div>
</div>