<div id="modal" class="point"> <!-- quando a classe "hide" desaparecer, a div irá aparecer na tela. Por enquanto a classe "hide" está configurada com display: none; no CSS, mas por javascrip, quando apertarmos o botão correto, a classe será removida e a div irá aparecer na tela.-->
    <div class="content">
        <img src="/extras-aula-1/icones/check.svg" alt="Cadastrado com sucesso">
        <h1>Cadastrado concluído!</h1>
    </div>
</div>

<script>

    setTimeout(() => {
        window.location = '/'
    }, 2000) // contagem em milissegundos

</script>